@import "tailwindcss";

:root{
  --color-primary: #4f46e5;
  --color-secondary: #6366f1;
  --color-bg: #ffffff;
  --color-text: #111827;
}

.dark{
  --color-primary: #6366f1;
  --color-secondary: #818cf8;
  --color-bg: #111827;
  --color-text: #f9fafb;
}

body {
    background: var(--color-bg);
    color: var(--color-text);
    transition: background 0.3s ease;
}

/* Hide scrollbar but keep scrolling */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE / Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes slide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide {
  animation: slide 0.25s ease;
}

button{
  cursor: pointer;
}